#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.FeaturedArtworks {
  border: 5px solid darkslategrey;
}

.NavBar {
  border: 5px solid darkslategrey;
}

.SearchBox {
  border: 5px solid darkslategrey;
}

.PageBrowser {
  border: 5px solid darkslategrey;
}

.Header {
  border: 5px solid darkslategrey;
}

.Card-img {
  height: 200px;
  object-fit:cover;
}

.custom-card {
  height: 350px !important; /* Force your custom height */
  display: flex !important; /* Override any default styles */
  flex-direction: column;
  justify-content: space-between;
}

.custom-card-body {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-center; /* Align items to the left */
}

/* .Container {
  border: 5px solid red;
} */

.NNNN {
  display: flex;
  justify-content:center; /* Centers the nav items horizontally */
  align-items: center; /* Centers the nav items vertically */
  gap: 50px;
   /* Adds spacing between the items */
  background-color: #f8f9fa; /* Optional: Background color */
  padding: 10px; /* Optional: Padding */
}