#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Card-img {
  height: 200px;
  object-fit:cover;
}

.custom-card {
  height: 350px !important; /* Force your custom height */
  display: flex !important; /* Override any default styles */
  flex-direction: column;
  justify-content: space-between;
}

.custom-card-body {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-center; /* Align items to the left */
}

/* .Container {
  border: 5px solid red;
} */

.NNNN {
  display: flex;
  justify-content:center; /* Centers the nav items horizontally */
  align-items: center; /* Centers the nav items vertically */
  gap: 50px;
   /* Adds spacing between the items */
  background-color: rgb(52, 49, 49); /* Optional: Background color */
  color:white;
  padding: 10px; /* Optional: Padding */
  text-decoration: none;
}

a { color: inherit;
text-decoration: none; }

.Individual-Artwork {
  height: 400px;
  object-fit:cover;
}