#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Card-img {
  height: 200px;
  object-fit:cover;
}

.custom-card {
  height: 350px !important; /* Force your custom height */
  display: flex !important; /* Override any default styles */
  flex-direction: column;
  justify-content: space-between;
}

.custom-card-body {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-center; /* Align items to the left */
}

/* .Container {
  border: 5px solid red;
} */

.navBar {
  display: flex;
  justify-content:center; /* Centers the nav items horizontally */
  align-items: center; /* Centers the nav items vertically */
  gap: 50px;
   /* Adds spacing between the items */
  background-color: rgb(52, 49, 49); /* Optional: Background color */
  color:white;
  padding: 10px; /* Optional: Padding */
  text-decoration: none;
}

a { color: inherit;
text-decoration: none; }

.Individual-Artwork {
  height: 500px;
  object-fit:cover;
  object-position: left;
}

.loader {
  
  display: flex;
  justify-content: center;
  align-items: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  height: 15vw; /* Full viewport height */
  width: 15vw;
  position: fixed;
  top:60%;
  left: 50%;
  animation: spin 3s linear infinite;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  /* position: fixed; 
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8); 
  z-index: 1000; Ensures it stays above other elements */

/* .Individual-Artwork:hover{
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */


.pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.pagination button.active {
  background: #007bff;
  color: white;
}

.pagination button:disabled {
  background: #f5f5f5;
  cursor: not-allowed;
}

.smallprint {
  font-size: 8px;
}